<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                background-color: white;
            }
            h3 {
                text-align:center;
                font-size:100%;
            }
        </style>
        <title>Washington Post Search</title>
    </head>
    <body>
        <h1>Title: {{title}}</h1>
        <h1>Author: {{author}}</h1>
        <h1>Published Date: {{date}}</h1>
        <h1>Annotation: {{annotation}}</h1>
        <h1>Main Content:</h1>
        <p>{{main}}</p>
    </body>
</html>